img.aboutMe {
  width: 500px;
  margin: 0 auto;
}
div.aboutMeBox {
  margin: 0 auto;
}
p.aboutMeText {
  width: 50vw;
  font-size: 1.2rem;
  margin: auto;
  padding-top: 20px;
}
@media only screen and (max-width: 600px) {
  img.aboutMe {
    width: 350px;
    margin: auto;
  }
  div.aboutMeBox {
    width: 95vw;
    margin: 0 auto;
  }
  p.aboutMeText {
    width: 80vw;
    margin: auto;
  }
}
