.content-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
  padding-top: 50px;
}

@media screen and (min-width: 992px) {
  .content-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .content p {
    width: 100%;
  }
  img.iphone {
    width: 650px;
    height: 650px;
    margin-left: 30px;
    align-self: center;
  }
  .content-center1 {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    margin: auto;
  }
}

.Logo {
  width: 500px;
  margin-left: 150px;
  margin-top: 30px;
}
.item {
  margin-right: 90px;
}
a.item.right {
  margin-left: 10px;
}
.svg1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.svg2 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.logo {
  height: 400px;
  width: 530px;
  align-self: center;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  display: block;
}

.iphone {
  width: 500;
  height: 650px;
  align-self: center;
}
.banner h1 {
  font-size: 1.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--mainGrey);
  margin: 1rem auto;
}
.banner {
  margin-top: 70px;
}

.iphoneHeader {
  padding-top: 170px;
  width: 400px;
  font-size: 28px;
  text-align: center;
  margin-left: 200px;
}
.iphoneText {
  width: 400px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
img.thaiAir {
  width: 800px;
  margin: auto;
}

.content-center1 {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  margin: auto;
}
.desinText {
  width: 400px;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 90px;
  font-weight: bold;
  font-size: 24px;
}
.mobileText1 {
  width: 400px;
  justify-content: center;
  font-size: 16px;
  text-align: justify;
  margin: auto;
}
.mobileText2 {
  width: 400px;
  justify-content: center;
  font-size: 24px;
  text-align: justify;
  margin: auto;
}
p.thaiAirText {
  width: 400px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.mobileHeader {
  text-align: center;
  color: var(--mainGrey);
  font-size: 24px;
  padding-top: 100px;
  width: 500px;
  margin: auto;
}
.mobileText {
  text-align: center;
  padding-top: 16px;
  width: 500px;
  text-align: justify;
  font-size: 16px;
  align-items: center;
}
.allApp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 90px;
  padding-left: 90px;
}
.appImage {
  width: 350px;
  padding: auto;
  padding-top: 20px;
  margin: auto;
  margin-right: 10px;
}
.footer {
  position: relative;
  margin-top: 190px;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.contackBlock {
  position: relative;
  bottom: 70px;
}
.footerLink {
  text-decoration: none;
  color: white;
}

.contact {
  text-decoration: underline;
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
  font-weight: bold;
  color: white;
}

.info {
  margin-top: 50px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: sans-serif;
  text-align: center;
  color: white;
}
.info2 {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: sans-serif;
  text-align: center;
  color: white;
}

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 10px;
  margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.thaiAir {
  animation: fadeInUp ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sky {
  animation: fadeInRight ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
