.svg2 {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

div.footer {
  position: relative;
  margin-top: 150px;
  left: 0;
  bottom: 0;
  z-index: -1;
}

div.info {
  justify-content: center;
}

.contact {
  font-size: 13px;
  margin-top: 10px;
}
.contactFooter {
  color: white;
  display: inline-block;
  justify-content: center;
  padding-bottom: 80px;
  font-size: 1.2rem;
}
li.contactFooter:nth-child(n-1)::after {
  content: "";
  margin: 0 20px;
}
ul.listFooter {
  text-decoration: none;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .contactFooter {
    color: white;
    display: inline-block;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 1.2rem;
  }
  ul.listFooter {
    text-decoration: none;
    text-align: center;
  }

  div.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.logos {
  animation: fadeInUp ease 7s;
  sanimation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skyLeft {
  animation: fadeInLeft ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.skyRight {
  animation: fadeInRight ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
