.header {
  position: relative;
  height: 80vh;
  display: block;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 500px;
  background: linear-gradient(200deg, var(--lightPink), var(--darkPink));
  transform-origin: 0px 0px;
  transform: skewY(-10deg);
  overflow: hidden;
  z-index: -1;
}
