:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #373737;
  --darkGrey: #cfcfcf;
  --white: #f5f5f5;
  --brown: #9d806c;
  --pink: linear-gradient(
    90deg,
    rgba(179, 160, 129, 1) 35%,
    rgba(218, 170, 143, 0.9444152661064426) 100%
  );

  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}
h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
  font-size: 45px;
  color: var(--mainGrey);
  margin-top: 20px;
}
h2 {
  font-family: sans-serif;
  text-align: center;
  font-size: 35px;
  color: var(--mainGrey);
  font-weight: lighter;
}
.svg1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.banner {
  margin-top: 70px;
}
.svg2 {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.banner h1 {
  font-size: 1.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--mainGrey);
  margin: 1rem auto;
}
.goldfish {
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
  font-weight: bold;
  left: 50%;
  margin-bottom: 40px;
  margin-top: 0px;
  -webkit-text-decoration: slateblue solid 3px underline;
  text-decoration: slateblue solid underline;
}

img.logo {
  height: 300px;
  width: 250;
  align-self: center;

  width: 90vw;
  margin: 0 auto;
  margin-top: 120px;
  vertical-align: middle;
  display: block;
}

div.listLogo {
  display: flex;
  justify-content: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
.content-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
  padding-top: 50px;
}

@media screen and (min-width: 992px) {
  .content-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .content p {
    width: 100%;
  }
}
img.logo1 {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-top: 20px;
}

.groupListName {
  display: none;
}
.fullstackLogo {
  margin: auto;
  width: 100%;
  display: flex;

  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.designLogo {
  display: flex;
  margin: auto;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.projects {
  text-align: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 500;
  margin-top: 50px;
  font-weight: bold;
  padding-bottom: 10px;
  text-decoration: underline;
}
.firstBlock {
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .logo {
    height: 180px;
    width: 250px;
    align-self: center;
    margin-top: 25px;
  }
  .txt1 {
    font-size: 22px;
    margin: 20px;
  }
  .txt2 {
    font-size: 20px;
    margin: 10px;
  }

  .svg1 {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
  .svg2 {
    width: 100%;
    height: auto;
  }
  .listLogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    align-items: center;
  }

  li.listName {
    font-size: 10px;
  }

  img.logo1 {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
  }

  .groupListName {
    display: none;
  }
  div.footer {
    position: relative;
    margin-top: 100px;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  div.contackBlock {
    position: relative;
    bottom: 10px;
  }
  .svgBlock {
    bottom: auto;
  }

  .contackBlock {
    top: auto;
  }
  .contact {
    font-size: 13px;
    margin-top: 10px;
  }
  div.info {
    font-size: 10px;
    bottom: 10;
  }
  div.info2 {
    display: none;
  }
}

.logos {
  animation: fadeInUp ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skyLeft {
  animation: fadeInLeft ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.skyRight {
  animation: fadeInRight ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
