.container {
  display: grid;
}
body {
  margin: 0;
}

header {
  margin: 0;
}

.svg1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.goldfish {
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
  font-weight: bold;
  left: 50%;
  margin-bottom: 40px;
  margin-top: 0px;
  -webkit-text-decoration: slateblue solid 3px underline;
  text-decoration: slateblue solid underline;
}

.logo {
  height: 400px;
  width: 530px;
  align-self: center;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  display: block;
}

div.listLogo {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .logo {
    height: 180px;
    width: 250px;
    align-self: center;
    margin-top: 25px;
    margin-left: 20%;
  }
  .txt1 {
    font-size: 22px;
    margin: 20px;
  }
  .txt2 {
    font-size: 20px;
    margin: 10px;
  }

  .svg1 {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
  .svg2 {
    width: 100%;
    height: auto;
  }
  div.listLogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: auto;
    vertical-align: middle;

    align-self: center;
  }

  li.listName {
    font-size: 10px;
  }

  img.logo1 {
    width: 40px;
    margin-left: 10px;
    margin-top: 20px;
  }

  .groupListName {
    display: none;
  }
  div.footer {
    position: relative;
    margin-top: 100px;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  div.contackBlock {
    position: relative;
    bottom: 10px;
  }
  .svgBlock {
    bottom: auto;
  }

  .contackBlock {
    top: auto;
  }
  .contact {
    font-size: 13px;
    margin-top: 10px;
  }
  div.info {
    font-size: 10px;
    bottom: 10;
  }
  div.info2 {
    display: none;
  }
}

.svg2 {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
  font-size: 45px;
  color: #373737;
  margin-top: 20px;
}
h2 {
  font-family: sans-serif;
  text-align: center;
  font-size: 35px;
  color: #373737;
  font-weight: lighter;
}

.logo1:nth-child(3) {
  margin-left: 8px;
}
.logo1:last-child {
  margin-left: 8px;
}
.listName {
  display: inline;
  align-items: center;
  margin-left: 32px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #373737;
}
.listName:first-child {
  margin-left: 0px;
}
.groupListName1 {
  align-items: center;
  margin-left: 25%;
}
.listName:nth-child(2) {
  align-items: center;
  margin-left: 35px;
}
.listName:nth-child(4) {
  align-items: center;
  margin-left: 42px;
}
.logo1 {
  width: 50px;
  margin-right: 25px;
}

.footer {
  position: relative;
  margin-top: 350px;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.contackBlock {
  position: relative;
  bottom: 150px;
}
.footerLink {
  text-decoration: none;
  color: white;
}

.contact {
  text-decoration: underline;
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
  font-weight: bold;
  color: white;
}

.info {
  margin-top: 50px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: sans-serif;
  text-align: center;
  color: white;
}
.info2 {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: sans-serif;
  text-align: center;
  color: white;
}
.textBlock {
  column-count: 3;
  width: 900px;
  padding-top: 50px;
  padding-left: 150px;
  text-align: justify;
  align-self: center;
  column-gap: 50px;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.3;
}
.projects {
  text-align: center;
  align-self: center;
  font-family: sans-serif;
  font-weight: 500;
  margin-top: 50px;
  font-weight: bold;
  padding-bottom: 10px;
  text-decoration: underline;
}
.allProjects {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin-top: 50px;
  grid-column: 30px;
}
.projectText {
  width: 300px;
  text-align: justify;
  align-self: center;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.3;
  margin-left: 40px;
}
.fullstackLogo {
  margin-left: 150px;
  width: 200px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.designLogo {
  margin-left: 40px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 1200) {
  .header {
    margin-left: 50px;
  }
}
