/* Navbar */
.navbar {
  position: fixed;

  right: 150;
  width: 100%;
  height: auto;

  padding: 0.75rem 2rem;
  z-index: 4;
}
.nav-header {
  display: flex;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  right: 50;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;

  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--white);
}

.show-nav {
  height: 150px;
  margin: 0 auto;
}
ul.nav-links.show-nav {
  padding: 0;
}
@media screen and (max-width: 300px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.3rem;
    margin: 0 auto;
    z-index: 4;
  }
  .nav-header {
    display: flex;
    margin: 0 auto;
  }
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    background: white;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */
